<!DOCTYPE html>
<html lang="en">
<head>
  
  
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%= day%></h1>
    </div>
    
    <div class="box">
        <%_ for (var i = 0; i < items.length; ++i){ %>
            <div class="item">
                <input type="checkbox">
                <p> <%= items[i] %></p>
            </div>
            
            <%_ } %>

             
    <form class="item" action="/" method="post">
        <input type="text" name="addtodo" placeholder="New todo">
        <button type="submit" name="button">+</button>
    </form>
    </div>
        
       
   
    
</body>
</html>